.w-layout-vflex {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-layout-hflex {
  flex-direction: row;
  align-items: flex-start;
  display: flex;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

img {
  max-width: 100%;
  display: inline-block;
}

.image {
  border-radius: 16px;
  width: 89%;
  display: inline-block;
  position: relative;
}

.image.image_wind, .image.image_laputa {
  width: 89%;
}

.container {
  text-align: center;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: none;
  height: 80vh;
  display: flex;
  position: relative;
}

.down-shadow {
  background-image: linear-gradient(0deg, #00000080, #0000);
  height: 50%;
  position: absolute;
  inset: auto 0% 0%;
}

.upper-shadow {
  background-image: linear-gradient(0deg, #0000, #00000080);
  height: 30%;
  position: absolute;
  inset: 0% 0% auto;
}

.body {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #000;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  padding: 160px 16px;
  display: flex;
}

.side-shadow {
  background-image: linear-gradient(90deg, #0000, #000);
  width: 30%;
  position: absolute;
  inset: 0% 0% 0% auto;
}

.rights {
  color: #fff;
  position: absolute;
  inset: auto auto 0% 0%;
}

.rights.text-text-caption {
  text-align: left;
  position: relative;
}

.text-text-display {
  letter-spacing: -.065em;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Futura, sans-serif;
  font-size: 85px;
  font-weight: 500;
  line-height: 118%;
}

.text-text-h1 {
  color: #fff;
  letter-spacing: -.065em;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Futura;
  font-size: 64px;
  font-weight: 500;
  line-height: 125%;
}

.text-text-h2 {
  letter-spacing: -.03em;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Futura, sans-serif;
  font-size: 48px;
  font-weight: 500;
  line-height: 134%;
}

.text-text-h3 {
  color: #fff;
  letter-spacing: -.02em;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 4px;
  font-family: Futura;
  font-size: 36px;
  font-weight: 500;
  line-height: 145%;
}

.text-text-h4 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Futura;
  font-size: 27px;
  font-weight: 500;
  line-height: 147%;
}

.text-text-body-lg {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Futura;
  font-size: 20px;
  font-weight: 500;
  line-height: 160%;
}

.text-text-body {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Futura;
  font-size: 15px;
  font-weight: 500;
  line-height: 160%;
}

.text-text-caption {
  color: #fff;
  text-align: left;
  letter-spacing: .01em;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Futura;
  font-size: 11px;
  font-weight: 500;
  line-height: 165%;
}

.text-text-overline {
  letter-spacing: .01em;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Futura, sans-serif;
  font-size: 9px;
  font-weight: 500;
  line-height: 180%;
}

.left-side {
  position: absolute;
  inset: auto auto 0% 0%;
}

.text-block {
  position: relative;
}

.title {
  grid-column-gap: 21px;
  grid-row-gap: 21px;
  justify-content: flex-start;
  align-items: flex-end;
}

.awards {
  grid-column-gap: 36px;
  grid-row-gap: 36px;
  flex-flow: column;
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  position: relative;
  inset: 0% 0% auto auto;
}

.award {
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
}

.stars {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  display: flex;
}

.imdb {
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.right-side {
  justify-content: space-between;
  align-items: center;
  height: 100%;
  position: absolute;
  inset: 0% 0% auto auto;
}

.flex-block-4 {
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  justify-content: flex-start;
  align-items: center;
}

.flex-block-5 {
  width: 100%;
  padding: 16px;
  position: fixed;
  inset: 0% auto auto 0%;
}

.wind {
  opacity: 0;
  position: static;
}

.laputa, .text {
  opacity: 0;
}

.image_wind {
  border-radius: 16px;
  width: 79%;
}

.image_kimitati {
  border-radius: 16px;
  width: 89%;
}

.image_laputa {
  border-radius: 16px;
  width: 79%;
}

.block {
  width: auto;
  height: auto;
  position: relative;
}

.section {
  justify-content: flex-start;
  align-items: center;
}


